<!DOCTYPE html>
<html lang="en">

<head>
    <title>El Huevo Shop - Sobre Nosotros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!--TemplateMo 559 Zay Shop https://templatemo.com/tm-559-zay-shop -->
</head>

<body>
    <!-- Start Top Nav -->

    <div th:insert="fragments/topnav :: menu-navegacion"></div>


    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Sobre Nosotros</h1>
                    <p>Somos el Equipo 5 de la comisión A y hemos enfrentado este proyecto con mucha dedicación, energía y algunos dolores de cabeza.</p>
                    <p>Hemos aprendido en este hermoso camino como trabajar en equipo, asignarnos tareas, organizarnos adecuadamente para que todo el trabajo y las horas de dedicación que hemos puesto en este proyecto den sus frutos, partiendo desde la base
                        de la cooperación.</p>
                </div>
                <div class="col-md-4">
                    <img th:src="${'/img/logo_dev.png'}" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Equipo 5 -Comisión A</h1>
                <!-- insert text here -->
                <br>
            </div>
        </div>

        <!--Cards nosotros-->
        <div class="d-flex justify-content-center flex-wrap row">
            <!--Card Avel-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/avel.jpeg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Hector Avelino Mendez</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>FullStack Developer</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Avel-->

            <!--Card Claudio-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/claudio.jpeg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Claudio Fernando Garcia</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>Backend Developer</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Claudio-->

            <!--Card Belen-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/belu.jpeg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Belén Cáseres</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>Frontend Developer</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Belen-->

            <!--Card Daniel-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/dani.jpeg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Daniel Rizzuti</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>FullStack Developer</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Daniel-->

            <!--Card Luciano-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/lucho.jpeg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Luciano Gabriel Toledo</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>Backend Developer</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Luciano-->

            <!--Card Roque-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/Roque.jpeg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Roque Castillo</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>Backend Developer</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Roque-->

            <!--Card Dante-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/dante.jpeg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Dante Tenaglia</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>Backend Developer</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Dante-->
            <!--Card Vale-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/valen.jpg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Valentino Chiola</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>Eish Teacher - Python Developer ❤</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card valen-->
            <!--Card Ivo-->
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" th:src="${'/img/ivo.jpg'}" style="width: 800px; height: 350px">
                    </div>
                    <div class="card-body text-center w-500">
                        <p href="shop-single.html" class="text-decoration-none"><strong>Ivo Rigatto</strong></p>
                        <p href="shop-single.html" class="text-decoration-none"><i>Eish Coach - Zoom DJ</i></p>
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                        <p class="text-center mb-0"></p>
                    </div>
                </div>
            </div>
            <!--End Card Ivo-->
        </div>
        <!--End Cards nosotros-->
    </section>
    <!-- End Section -->

    <!-- Start Brands -->
        <section class="bg-light py-5">
            <div class="container my-4">
                <div class="row text-center py-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1">Nuestras Marcas</h1>
                        <p>
                            Algunas de las marcas mas conocidas del mercado ya son parte
                            de nuestra tienda.
                        </p>
                    </div>
                    <div class="col-lg-9 m-auto tempaltemo-carousel">
                        <div class="row d-flex flex-row">
                            <!--Controls-->
                            <div class="col-1 align-self-center">
                                <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                    <i class="text-light fas fa-chevron-left"></i>
                                </a>
                            </div>
                            <!--End Controls-->

                        <!--Carousel Wrapper-->
                            <div class="col">
                                <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                    <!--Slides-->
                                    <div class="carousel-inner product-links-wap" role="listbox">

                                        <!--First slide-->
                                        <div class="carousel-item active">
                                            <div class="row">
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoZotac.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoToshiba.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoGigabyte.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoLogitech.png" alt="Brand Logo"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoAcer.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoAsus.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoMicrosoft.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoElGato.png" alt="Brand Logo"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Second slide-->

                                        <!--Third slide-->
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoEpson.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoRedragon_2.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoSamsung_2.png" alt="Brand Logo"></a>
                                                </div>
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img class="img-fluid brand-img" src="assets/img/LogoToshiba.png" alt="Brand Logo"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Third slide-->

                                    </div>
                                    <!--End Slides-->
                                </div>
                            </div>
                            <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <!-- Start Footer -->
        <div th:insert="fragments/topnav :: footer"></div>
        <!-- End Footer -->

    <!-- End Footer -->

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <script th:src="@{/js/compras.js}"></script>

    <!-- End Script -->
</body>

</html>