<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
            />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            />
        <title>E-Commerce</title>
    </head>

    <body>
        <!--NAVBAR-->
        <header th:insert="/navbar :: menu-navegacion"></header>
        <!--NAVBAR-->

        <!--DETALLES PRODUCTOS-->


        <div class="container mt-5">
            <a th:href="@{/producto/lista}" class="m-5 link-primary fs-5"
               ><i class="fa-solid fa-arrow-left-long"></i> Volver al listado de
                productos</a
            >
            <div class="row mt-5" th:object="${producto}">
                <div class="col float-sm-start">
                    <h2 class="text-center" th:text="'Producto: ' + ${producto.nombre}"></h2>
                    <div class="d-flex justify-content-center">
                        <div class="p-2">
                            <h5 th:text="'Precio del producto: $' + ${producto.precioVenta}"></h5>
                        </div>
                        <div class="p-2">
                            <h5 th:text="'Stock del producto: ' + ${producto.stock}"></h5>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 th:text="'Tipo de producto: ' + ${producto.tipoProducto}"></h5>
                        <h5 th:text="'Descripcion del producto: ' + ${producto.descripcion}"></h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="p-2">
                            <h5>Estado: <strong th:text="${producto.activo == true} ? 'Alta' : 'Baja'"></strong></h5>
                        </div>
                        <div class="p-2">
                            <h5>Fecha: <strong th:text="${producto.activo == true} ? ${producto.fechaAlta} : ${producto.fechaBaja}"></strong></h5>
                        </div>
                    </div>

                    <div th:if="${producto.activo == true}">
                        <a th:href="@{/producto/check/{id} (id = ${producto.id})}" class="link-danger fs-5"
                           ><i class="fa-solid fa-circle-minus"></i> Dar de baja</a>
                    </div>
                    
                    <div th:if="${producto.activo == false}">
                        <a th:href="@{/producto/check/{id} (id = ${producto.id})}" class="link-success fs-5"
                           ><i class="fa-solid fa-plus"></i> Dar de alta</a>
                    </div>
                </div>
                <div class="col">
                    <img class="float-start"
                         th:src="@{'/imagen/producto?id=' + ${producto.id}}"
                         width="400"
                         alt=""
                         />
                </div>
            </div>
        </div>
        <!--DETALLES PRODUCTOS-->
    </body>
</html>
