<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>E-Commerce</title>
    </head>

    <body>
        <!--NAVBAR-->
        <header th:insert="/navbar :: menu-navegacion"></header>
        <!--NAVBAR-->

        <!--AGREGAR PRODUCTO-->
        <div class="container mt-5">

            <a th:href="@{/producto/lista}" class="m-5 link-primary fs-5"
               ><i class="fa-solid fa-arrow-left-long"></i> Volver al listado de
                productos</a
            >
            <h1>Editar producto</h1>
            <form th:action="@{/producto/editar}" th:object="${producto}" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate method="post">
                <input type="hidden" value="id" name="id" th:value="${producto.id}">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre producto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${producto.nombre}" required>
                    <div class="valid-feedback">Campo validado</div>
                    <div class="invalid-feedback">Complete los datos</div>
                </div>
                <div class="col-md-6">
                    <label for="stock" class="form-label">Stock del producto</label>
                    <input type="text" class="form-control" id="stock" name="stock" th:value="${producto.stock}" required>
                    <div class="valid-feedback">Campo validado</div>
                    <div class="invalid-feedback">Complete los datos</div>
                </div>
                <div class="col-md-6">
                    <label for="precio" class="form-label">Ingresar precio del producto</label>
                    <input type="text" class="form-control" id="nombre" name="precioVenta" th:value="${producto.precioVenta}" required>
                    <div class="valid-feedback">Campo validado</div>
                    <div class="invalid-feedback">Complete los datos</div>
                </div>

                <div class="col-md-6">
                    <label for="tipo" class="form-label">Seleccionar el tipo de producto</label>
                    <select class="form-select form-select-sm" name="tipoProducto" aria-label=".form-select-sm example" required>
                        <option selected>Seleccionar</option>
                        <option value="Mouse">Mouse</option>
                        <option value="Teclado">Teclado</option>
                        <option value="Auriculares">Auriculares</option>
                        <option value="PlacaMadre">Placa Madre</option>
                        <option value="Monitor">Monitor</option>
                        <option value="Notebook">Notebook</option>
                    </select>   
                    <div class="valid-feedback">Campo validado</div>
                    <div class="invalid-feedback">Complete los datos</div>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-warning fw-bold mt-4" value="editar producto">
                </div>
            </form>
        </div>
        <!--AGREGAR PRODUCTO-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
            })()
        </script>
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
    </body>
</html>