<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Listado de usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/templatemo.css">
    <link rel="stylesheet" href="../assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/slick.min.css">
    </head>
    <body>

        <!--NAVBAR-->
         <div th:insert="fragments/topnav :: menu-navegacion"></div>
        <!--NAVBAR-->

        <!--ALERTA-->
        <div th:if="${session.productocreado}">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong th:text="${session.productocreado}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <!--ALERTA-->

        <!--TABLAS DE PRODUCTOS-->
        <div class="text-center">
            <h1>Listados de Usuarios</h1>
        </div>
        <table class="table table-responsive table-striped text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>E-mail</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="u: ${usuarios}">
                    <td th:text="${u.nombre}"></td>
                    <td th:text="${u.apellido}"></td>
                    <td th:text="${u.direccion}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.rolUsuario}"></td>
                    <td th:text="${u.activo} ? 'Activo' : 'no '"></td>
                    <td>
                        <a th:href="@{/usuario/rol/{id} (id= ${u.id})}" class="btn-link">Cambiar el rol</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--TABLAS DE PRODUCTOS-->
    </body>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
    ></script>

        <script src="assets/js/jquery-1.11.0.min.js"></script>
        <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/templatemo.js"></script>
        <script src="assets/js/custom.js"></script>
</html>
